.dialogs {
    display: grid;

    grid-template-columns: 2fr 10fr;

}

.dialogsItems {

    padding: 10px;
}

.dialog {
    padding: 5px;
    font-family: sans-serif;
    font-size: 20px;

}


.active {
    color: blue;

}


.messages {

    padding: 10px;
}

.message {}